<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="IS_RESTPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>isrest.Autor</class>
    <class>isrest.Bibliotecario</class>
    <class>isrest.Prestamo</class>
    <class>isrest.Libro</class>
    <class>isrest.Socio</class>
    <class>isrest.Persona</class>
    <class>isrest.Ejemplar</class>
    <class>isrest.Estado</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://sql9.freesqldatabase.com:3306/sql9200498?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="sql9200498"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="b5i3twhIma"/>
    </properties>
  </persistence-unit>
</persistence>
